
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

p, div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    background-color: #B6B6B6
}

.inverse-dropdown{
    background-color: #222;
    border-color: #080808;
}

.inverse-dropdown li a{
      color: #999;
}

.inverse-dropdown li a:hover, .inverse-dropdown > li > a:focus{
     color: #fff;
    background: none;
}

.inverse-dropdown .active a, .inverse-dropdown .active a:hover {
    background: black none;
}

#titreStream {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
    text-align: center;
    color: #337ab7;
    text-transform: capitalize;
}

#panelVideoTwitch{
    margin-bottom: 0px;
    border: none;
}

#selecteurStream {
    padding: 10px 0px;
}

.date-article {
    height: 65px;
    width: 65px;
    color: white;
    background-color: rgb(2, 34, 93);
    padding: 5px;
}

.date-article .jour {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
}

.date-article .mois {
    font-size: 12px;
}

.article header {
    margin-bottom: 10px;
    min-height: 65px;
}

.article .titre-article {
    color : #3a8ac9;
    font-weight: bold;
    padding-left: 75px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0;
}

@media (min-width: 991px) {
    .article .titre-article {
        font-size: 25px;
    }
}

.article .auteur-article {
    padding-left: 75px;
}

.article .titre-article a:hover {
    text-decoration: none;
}

.article img {
    padding-bottom: 15px;
}

hr{
    border-top: 2px solid rgb(2, 34, 93);
}

.comment-pseudo {
    color: #3a8ac9;
    font-weight: bold;
}

.col-sm-9 .redactor-box {
    margin-bottom: 0px;
}

#redactor-image-manager-box img {
    margin: 5px;
}