{% if is_live %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8" id="videoTwitch">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="http://www.twitch.tv/bersiroth/embed"></iframe>
            </div>
        </div>
        <div class="col-sm-5 col-md-4 hidden-xs">
            <iframe src="http://www.twitch.tv/bersiroth/chat?popout=" id="chatTwitch" width="100%"></iframe>
        </div>
    </div>
    <br>
{% endif %}